.App-header {
    /* background-color: #34495E; */
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
.card {
    background: var(--surface-card);
    border-radius: 10px;
}